@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(41, 41, 39);
  color: white;
}

.titre {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
}

.icon {
  height: 2rem;
}

.icon-click {
  cursor: pointer;
  height: 4rem;
}

#flecheHaut {
  cursor: pointer;
  display: none;
}

ul {
  list-style-type: none;
}

section {
  height: 100vh;
}

.bouton-haut {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.bas-page {
  margin-top: 10rem;
}

.bleu {
  background-color: #6495ed;
}

.gris {
  background-color: #879d9e;
}

.txt-blanc {
  color: #879d9e !important;
}

#home {
  background-image: url("assets/bg1.png");
}

#parcours {
  background-image: url("assets/bg4.png");
  color: #fff;
}

#competences {
  background-image: url("assets/bg1.png");
}
#projets {
  background-image: url("assets/bg1.png");
}
#contact {
  background-image: url("assets/bg4.png");
  color: #fff;
}

footer {
  background-image: url("assets/bg1.png");
}

.zoom {
transition: all 0.3s;
}

.zoom:hover{
  transform: scale(1.10);
}
